* {
  box-sizing: border-box;
}

body {
  padding-bottom: 50px;
}

.img-div {
  border-radius: 20px;
  height: 75vh;
}

.img-div img {
  border-radius: 20px;
  height: 75vh;
}

.background-gradient {
  background-color: #bfbf8a;
  background: linear-gradient( to top right, rgba(191, 191, 138, 1), rgba(191, 191, 138, 0) );
  border-radius: 15px;
}

.bg-comments {
  background-color: #eeeeee;
}

.textarea-wrapper {
  border: 3px solid grey;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px -1px 9px -1px rgba(0, 0, 0, 0.83);
  -webkit-box-shadow: 0px -1px 9px -1px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: 0px -1px 9px -1px rgba(0, 0, 0, 0.83);
}

textarea {
  resize: none;
}

.border-success {
    border: 3px solid #28a745;
    border-radius: 5px;
}