* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding-bottom: 50px;
}

.bg-darkL {
  border-right: 2px solid #dae0ec;
  background-color: #42516e;
  background-color: #343a40;
  background-color: #a15050;
}

.card-img-top {
  height: 250px;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 6px 5px 18px 2px rgba(0, 0, 0, 0.75);
}
.card-group .card:not(:last-child) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.stars i {
  color:grey;
}

